
/* core table-component styles */
table.table-component {
    table-layout: fixed;
    white-space: nowrap;
}

    table.table-component [data-expanded="true"] {
        display: block;
    }

    table.table-component [data-expanded="false"] {
        display: none;
    }

table.table-component .table-placeholder {
    width: 100% !important;
    display: block;
    background: linear-gradient(-45deg, #ffffff, #e3e3e3, #ffffff, #e3e3e3);
    background-size: 400% 400%;
    animation: placeholder-gradient 2s ease-in-out infinite;
    border-radius: 3px;
}

@keyframes placeholder-gradient {
    0% {
        background-position: 5% 0;
    }

    100% {
        background-position: 100% 70%;
    }
}

table.table-component > thead > tr > th,
table.table-component > tbody > tr > td,
table.table-component > tfoot > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
}

table.table-component tbody tr {
    position: relative;
}

table.table-component tbody tr.odd {
    background: rgba(0, 0, 0, .05);
}

.table-dropdown {
    position: absolute;
}

.table-dropdown [data-bs-toggle="dropdown"],
.table-dropdown [data-toggle="dropdown"] {
    display: none;
}

.negative {
    color: red !important;
}

.disabled {
    pointer-events: none !important;
}

th:has(> [role]) {
    box-sizing: content-box;
    position: relative;
}

th:has(> [role=sort]) {
    padding-left: 30px;
}

th [role=sort] {
    position: absolute !important;
    left: 0 !important;
}

th:has(> [role=filter]) {
    padding-right: 30px;
}

th [role=filter] {
    position: absolute !important;
    right: 0 !important;
}
