::-webkit-scrollbar {
    background-color: #ebeef0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #a4abb5;
    border: 2px solid transparent;
    background-clip: content-box;
}

.hidden {
    display: none !important;
}

tr.highlight {
    background-color: rgb(222, 242, 250) !important;

}

/* table.table-component button {
    all: unset;
    background: gray;
    width: 20px;
} */
