::-webkit-scrollbar {
    background-color: #ebeef0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #a4abb5;
    border: 2px solid transparent;
    background-clip: content-box;
}

.hidden {
    display: none !important;
}

.table-placeholder {
    width: 100% !important;
    display: block;
    background: linear-gradient(-45deg, #ffffff, #e3e3e3, #ffffff, #e3e3e3);
    background-size: 400% 400%;
    animation: placeholder-gradient 2s ease-in-out infinite;
    border-radius: 3px;
    color: transparent;
}

@keyframes placeholder-gradient {
    0% {
        background-position: 5% 0;
    }

    100% {
        background-position: 100% 70%;
    }
}


ul.dropdown-menu .sidemenu {
    position: relative;
}

.dropdown-menu .sidemenu:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}
