@using Incoding.Web.Components.Demo.Controllers
@using Incoding.Web.Components.Grid;

@(Html.Components().Grid<SampleData>("grid")
      .Width("100%")
      .Height("100%")
      .Css("bg-white")
      .Table(table => table.Css("table table-bordered")
                           .Layout(LayoutType.Auto)
                           .Columns(cols => cols.AutoMap()))
      .Empty(@<text>
                  <div style="display: grid; place-items: center;">
                      <img src="https://static.tildacdn.com/tild3965-6665-4366-b234-303630633965/99ac3f33649217cbaf8a.svg" style="width: 120px;"/>
                      <span>so empty here...</span>
                  </div>
              </text>)
      .DataSource(new DataSource.Model
      {
          Data = DataController.GenerateData(20, true, 5)
      })
      .Render())
