@model ITemplateSyntax<SampleData>

<ul class="dropdown-menu">
    @(Html.When(JqueryBind.Click)
          .OnSuccess(dsl => dsl.Window.Alert(Model.For(s => s.AmountPercentage)))
          .AsHtmlAttributes()
          .ToTag(HtmlTag.Li, @<a class='dropdown-item' href='javascript:void(0)'>Foo</a>))
</ul>
