<div style="display: grid; place-items: center;">
    <img src="https://static.tildacdn.com/tild3965-6665-4366-b234-303630633965/99ac3f33649217cbaf8a.svg" style="width: 120px;"/>
    <span>so empty here...</span>
</div>
