@{
    Layout = "_Layout";
}

<div class="d-flex flex-column vh-100 pb-3">
    <div class="d-flex gap-3 mx-3 my-3">
        @(Html.When(JqueryBind.Click)
              .OnSuccess(dsl => dsl.With(s => s.EqualsAttribute("role", "main")).Insert.WithTemplateByView("~/Views/Examples/Regular.cshtml").Html())
              .AsHtmlAttributes(new
                                {
                                        @class = "btn btn-sm btn-primary"
                                })
              .ToButton(@<text>
                             Regular
                         </text>))

        @(Html.When(JqueryBind.Click)
              .OnSuccess(dsl => dsl.With(s => s.EqualsAttribute("role", "main")).Insert.WithTemplateByView("~/Views/Examples/Simple.cshtml").Html())
              .AsHtmlAttributes(new
                                {
                                        @class = "btn btn-sm btn-primary"
                                })
              .ToButton(@<text>
                             Simple
                         </text>))

        @(Html.When(JqueryBind.Click)
              .OnSuccess(dsl => dsl.WithId("grid").Trigger.None())
              .AsHtmlAttributes(new
                                {
                                        @class = "btn btn-sm btn-success"
                                })
              .ToButton(@<text>
                             Load
                         </text>))
    </div>

    <div class="container flex-grow-1" role="main" style="height: calc(100% - 70px);"></div>
</div>
